<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>其他紀錄</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <style></style>    
</head>
<body>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <div id="app" >
        <div style="background-color: #FFD256; height: 65px; text-align: center;font-weight: 800; box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);font-size:xxx-large;">
            <input type="image" src="../static/liff-pics/back.png" style="float: left;height:60%; padding: 15px 0px 0px 15px;">            
            <span style="text-align: center;">[[title]]</span>
        </div>

        <div style="background-color:#f6f6f6;">
            <!-- <div style="padding: 16px 16px 0px 16px;height: 14px;"></div> -->
        
            <div class="box-button-tags-container" > 
                <button  class="other-record-tag">營養</button>
                <button  class="other-record-tag">運動</button>
                <button  class="other-record-tag">睡眠</button>
                <button  class="other-record-tag">其他</button>
            </div>

            <div class="box-container-record" > 
                <textarea class="other-record-title" name="other-record-title" id="other-record-title"  placeholder="點此輸入標題" rows="1"></textarea>
                <textarea class="other-record-content" name="other-record-content" id="other-record-content" placeholder="點此紀錄內容" ></textarea>
                
            </div>
            <div class="box-button-container " style="background-color: #f6f6f6; box-shadow:none"> 
                <div>
                    <!-- <input type="image" src="../static/liff-pics/add_photo_icon.png" class="add_record_button" > -->
                    <input type="file" id="fileInput" name="fileInput" style="display: none;" @change="addImgBox" ref="fileInput"/>
                    <!-- <button type="button" onclick="chooseFile();" class="circle-btn add_record_button" style="background: url(../static/liff-pics/add_photo_icon.png); "></button> -->
                    <button type="button" @click="chooseFile()" class="circle-btn add_record_button" style="background: url(../static/liff-pics/add_photo_icon.png); "></button>
                    <button type="button" @click="addCard()" class="circle-btn add_record_button" style="background: url(../static/liff-pics/add_record_icon.png); "></button>
                    <!-- <input type="image" src="../static/liff-pics/add_record_icon.png" class="add_record_button" > -->
                </div>
            </div>
            <div style="text-align: center;">
                <button type="button" class="btn" style=" border-color: #707070; background-color: #FFD256">確認</button>
            </div>
        </div>
        <div id="uploadPreview" style="border: #707070 solid 5px;">
            <single-img
                v-for="url in previewURLCard"
                :img_url=url
                :index="index">
            </single-img>  
        </div>
    </div> 
    <!-- <div style="border: #707070 solid;"> -->
        <!-- <input type="file" id="fileInput" name="fileInput" style="display: none;"/> -->
        <!-- <button type="button" onclick="chooseFile();" class="circle-btn" style="background: url(../static/liff-pics/add_photo_icon.png); "></button> -->
    <!-- </div> -->

    <!-- <div id="uploadPreview"></div> -->
    <script src="dataGet.js"></script>
    <script>
        let totalData=allData;
        var _URL = window.URL || window.webkitURL;
        // console.log('print _URL')
        // console.log(_URL);
        $("#fileInput").change(function(e) {
            console.log('here2')
            var image, file;
            if ((file = this.files[0])) {
                image = new Image();
                image.onload = function() {
                        src = this.src;
                        // console.log(this.src);
                        $('#uploadPreview').html('<img src="'+ src +'"></div>');
                        e.preventDefault();
                    }
                };
                image.src = _URL.createObjectURL(file);
        });
    </script>
    <script>
        var selectAll=false;
        var vm=Vue.createApp({
            compilerOptions: {delimiters: ["[[", "]]"]},
            created() {
                this.getData();
                window.addEventListener('beforeunload', this.sendData)
             },
            data(){
                return{
                    previewURLCard:[]                    
                    // patientName:'柯文華'
                }
            },
            methods:{
                async getData() {
                    try {
                        let response = await fetch("http://jsonplaceholder.typicode.com/posts");
                        window.alert(JSON.stringify(await response.json()));
                        // totalData=await response.json();
                    } catch (error) {
                        console.log(error);
                    }
                },
                async sendData() {
                    // function download(content, fileName, contentType) {
                    //     var a = document.createElement("a");
                    //     var file = new Blob([content], {type: contentType});
                    //     a.href = URL.createObjectURL(file);
                    //     a.download = fileName;
                    //     a.click();
                    // }
                    // download(JSON.stringify(totalData), 'json.txt', 'text/plain');
                },
                addCard: function () {
                    // this.recordedSugar.push({value: '', timing: 'before dining'});
                },
                chooseFile: function() {
                    // $("#fileInput").click();
                    this.$refs.fileInput.click()
                    console.log('here');
                },
                addImgBox: function(e) {
                    // var _URL = window.URL || window.webkitURL;
                    let input = this.$refs.fileInput
                    let file = input.files
                    var image;
                    if (file && file[0]) {
                        image = new Image();
                        var binaryData = [];
                        binaryData.push(file);
                        image.src =_URL.createObjectURL(new Blob(binaryData, {type: "application/zip"}));
                        this.previewURLCard.push(image.src);
                        console.log('this.previewURLCard')
                        console.log(this.previewURLCard)
                    };
                    // image.onload = function() {
                    //         src = this.src;
                    //         $('#uploadPreview').html('<img src="'+ src +'"></div>');
                    //         e.preventDefault();
                    //         console.log('here2')
                    // }
                }
            },
            computed:{

            }

        });

        vm.component('single-img',{
            delimiters: ["$[", "]"],
            // data(){
            //     previewURL:null
            // },
            // background-image:[img_url]];
            template:`
            <div class="box-button-container" :style="{backgroundImage:img_url}">

            </div>`,
            methods:{
                getUrl:function(){
                    console.log('TESTSETSET')
                    console.log(this.img_url)
                    // return url(`${this.img_url}[index]`);
                }
            },
            props:{img_url:String,index:Number}
        });


        vm.mount("#app");
    </script>
</body>
</html>